body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  text-align: center;
}

